spring:
  datasource:
    url: jdbc:h2:mem:loviondb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    root: INFO
    nl.blitz.loviondummy: INFO

server:
  port: 8080

soap:
  fault:
    simulation:
      enabled: true          # simulatie AAN
      probability: 0.2       # 40% kans dat een call een fault geeft
    rate-limit:
      max-requests: 5        # max 5 requests
      window-seconds: 30     # per 30 seconden



